{
  "singleQuote": true,
  "jsxSingleQuote": false,
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": [
        "*-interface*.ts",
        "logic-processor*.ts",
        "*.macro.ts",
        "select-logs.ts",
        "insert-logs.ts"
      ],
      "options": {
        "printWidth": 160
      }
    }
  ],
  "semi": false,
  "arrowParens": "avoid",
  "trailingComma": "all"
}
