:host {
  display: block;
  margin: 1em;
}
label {
  display: block;
  margin-top: 1em;
  text-transform: capitalize;
}
label::after {
  content: ':';
}
button {
  margin: 0 0.25em;
  text-transform: capitalize;
}
